
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

html,body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.bg-gradient{
    background: rgb(21,0,50);
    background: linear-gradient(121deg, rgba(21,0,50,1) 0%, rgba(104,70,218,1) 35%, rgba(64,216,255,1) 100%);
}

#task{
    font-size:18px;
    border: 2px solid #999;
    outline: none;
    height: 40px;
    min-width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.border-radius-right{
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
}

.border-radius-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#add-task{
    font-size:20px;
    max-height: inherit;
}   

#filter{
    outline: none;
    font-size:14px;
    border: 1px solid #999;
    min-width: 10px;
}


.fontAwesomeicons,.fa,.fas{
    font-family:Arial, FontAwesome !important;
}

#resetTask{
    border: 2px solid #999;
    border-radius: 2px;
}
#resetTaskButton{
    outline: none;
    box-shadow:none;
    display: none;
}

.clear-tasks.active{
    opacity: 0.9;
    pointer-events: auto;
}

.clear-tasks:active{
    transform: scale(0.93);
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
#resetTask>i:hover,#resetTask>i:focus,#resetTask>i:active {
    outline: none;
    box-shadow:none;
}

.task-list .task-list-item {
    list-style: none;
}

/* Change the white to any color */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover, 
input[type="text"]:-webkit-autofill:focus, 
input[type="text"]:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="checkbox"]:focus{
    outline: 1px solid rgba(0, 0, 0, 0.2)
}

input[type=checkbox]{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

input[type=checkbox]:checked {
    background-color: #007bff;
    background: #007bff url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}

.delete-item>.fa-trash-can{
    cursor:pointer;
}